[submodule "knowdy"]
	path = pkg/knowdy/knowdy
	url = https://github.com/globbie/knowdy.git
[submodule "config/knowdy-schemas"]
	path = config/knowdy-schemas
	url = https://github.com/globbie/knowdy-schemas.git
[submodule "pkg/knowdy/knowdy"]
	path = pkg/knowdy/knowdy
	url = https://github.com/globbie/knowdy.git
